:root {
  --font-family-open-sans: 'open-sans';
  --color-aliceblue: #f0f8ff;
  --color-lightgrey: #d3d3d3;
  --color-black: #000;
  --color-white: #fff;
  --color-shades-blue: #007cbe;
  --color-shades-black: #333;
}
